.compareVariants {
  display: flex;
  align-items: center;
  gap: var(--s-2);
  margin-top: 10px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: var(--r-xs);
    background: transparent;

    &--selected {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}