.tabs {
   display: flex;
   justify-content: space-between;
   background-color: var(--c-border);
   border-radius: var(--r-xs);

   &__label {
      font-size: var(--fs-sm);
      font-weight: 500;
      color: var(--p-gray-500-3);
   }

   & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100px;
      &.small {
         height: 50px;
      }
      width: 100px;
      border-radius: var(--r-xs);
      cursor: pointer;
      .img {
         height: 39px;
         display: flex;
         align-items: flex-end;
         margin-bottom: 10px;
         img {
            width: 100%;
            max-height: 39px;
         }
      }
      &.is-active {
         color: var(--c-surface);
         img {
            filter: brightness(0) invert(1);
         }
         .tabs__label {
            color: var(--c-surface);
         }
      }
   }
}