$primary: --theme--primary;
$primary-main: --theme--primary-main;
$secondary: --theme--secondary;
$secondary-main: --theme--secondary-main;
$foreground: --theme-foreground;
$accent: --theme--accent;
$icon: --theme--icon;