.separator {
  cursor: pointer;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-size: var(--fs-sm);
  font-weight: 500;
  width: 100%;
  //position: absolute;
  padding-left: 0;
  //right: 0;
  color: var(--c-black);
  box-shadow: 1px 0px 0px var(--c-surface);
  position: relative;
  padding: 5px 16px;
  transition: all var(--d-slow) ease-in-out;

  svg {
    transition: all var(--d-slow) ease;

    &[data-active='true'] {
      transform: rotate(180deg);
    }
  }
}

.separator:active {
  background-color: rgba(0, 0, 0, 0.051);
}
// .separator::before,
// .separator::after {
//   content: "";
//   border-bottom: 1px solid var(--c-border);
// }
// .separator::before {
//   flex: 0.1;
//   margin-right: 10px;
// }
// .separator::after {
//   margin-left: 10px;
//   flex: 1;
// }
